---
import { actions } from "astro:actions";
import PlaceCard from "../components/PlaceCard.astro";
import Layout from "../layouts/Layout.astro";
import type { Place } from "../generated/prisma/client";

const { data: places } = await Astro.callAction(actions.getPlaces, {});
---

<Layout>
  <h1>Astro Review</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {places.map((place: Place) => <PlaceCard place={place} />)}
  </div>
</Layout>
